.box {
    width: 0 auto;
    height: 90px;
    box-shadow: 2px rgba(226, 124, 124, 0.2) ;
    background: grey;
}


.icon cross img {
    width: 75px;
    height: 75px;
    overflow: hidden;
}