* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;

}

* li {
  list-style: none;
}

* a {
  text-decoration: none;
}

.container {
  position: relative;
  min-height: 100vh;
}

.bg {
  width: 100%;
  height: 100%;
  position: relative;
}

.bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/main/bg-apple.jpg);
  z-index: -1;
  background-size: cover;
  background-position: center;
  filter: brightness(88%);

}

header {
  position: relative;
  width: 85%;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #000000;
  font-size: 2.5rem;
}

ul {
  display: flex;
  align-items: center;
}

ul li a {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 0 17px;
  font-family: Arial;
  font-weight: bold;
}

li {
  position: relative;
  display: block;
  transition: 0.5s;
  cursor: pointer;

}

li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  transition: transfrom 0.5s;
  transform: scaleX(0);
  transform-origin: right;
  background-color: rgb(247, 247, 247);
}

li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.img-apple img {
  width: 72px;
  height: 72px;
  overflow: hidden;

}

.boxA{
  width: 700px;
  margin: auto;
  background:white;
  border-radius: 20px;
}

article {
  text-align: center;
  width: auto;
  height: 700px;
}


.name h1 {
  text-align: center
}

.table {
  margin: 2rem auto;
}

.form-control2{
  justify-content: space-evenly;
}