.box{
    width: 0 auto;
    height: 6450px;
    box-shadow:3px 3px 10px rgba(0, 0, 0, 0.2) ;
    background: rgb(125, 125, 125);
    border-radius: 25px;
}

.icon-cross{
    display: flex;
}

.icon-cross h1 {
    display: flex;
    margin:  auto;
    font-family: 'Itim', cursive;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Itim', cursive;
}

.icon-cross img {
    width: 35px;
    height: 35px;
    margin: 1rem;
}

.content{
    font-size: 14px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    font-family: 'Itim', cursive;   
    
}







