html {
    height: 100%;
    width: 100%;
  }
head{
  width: 0 auto;
  height: 72px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) ;
  overflow: hidden;
  border-radius: 19px;
  justify-content: space-between;
  display: flex;
  background: rgb(0, 0, 0);
  align-items: center;
  margin: 1rem auto;
}

.img-apple img { 
  width: 72px;
  height: 72px;
  overflow: hidden;

}

article {
  text-align: center;
  width: auto;
  height: 2000px;
  background: #9c9c9c;
  border-radius: 20px;
}

.headname{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  margin: 1rem auto;
}

aside {
  display: flex;
  justify-content: center;
}



