html {
    height: 100%;
    width: 100%;
  }
nav{
  width: 1820px;
  margin: 0 auto;
  height: 72px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) ;
  overflow: hidden;
  border-radius: 19px;

}
.img-apple {
  height: 72px;
  background: gray;
  overflow: hidden;

}
.img-apple img { 
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 19px;
}

.img-icons img {
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 19px;
  
}
article {
    text-align: center;
    
}

aside {
  width: 0 auto;
  height: 72px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) ;
  display: flex;
  justify-content: center;
}

.choose {
  width: 200px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

