html {
    height: 100%;
    width: 100%;
  }
nav{
  width: 0 auto;
  margin: 0 auto;
  height: 72px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) ;
  overflow: hidden;
  border-radius: 19px;
  justify-content: space-between;
  display: flex;
  background: gray;
  align-items: center;

}

.img-apple {
  width:  auto;
  height: 72px;
  border-radius: 35px;
  background: rgb(0, 0, 0);
}

.img-apple img { 
  width: 72px;
  height: 72px;
  overflow: hidden;
  border-radius: 19px;
  display: block;
  margin: auto;
}

article {
    text-align: center;
    
}

aside {
  width: 0 auto;
  height: 900px;
  box-shadow: 2px 2px 5px rgba(29, 29, 31, 0.2) ;
  display: flex;
  justify-content: center;
}

.choose {
  width: 200px;
  flex-direction: column;
  display: block;
  top: 30px;
  
}

.choose .selector-element{
  position: absolute;
  top: 200px;
  right: auto;

}

.selector-dropdown {
  position: relative;
  background: #fff;
  border: 1px solid #e8e8ed;
  border-radius: 5px;
  transition: border-color 200ms ease;
}

