.modal .content-padding {
    display: block;
    max-width: 100%;
    padding: 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
}
.modal-standard .content-padding {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    padding: 80px 8.33333%;
    background: #fff;
    border-radius: 18px;
}
.large-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
}
:lang(ja), :lang(ko), :lang(th), :lang(zh) {
    font-style: normal;
}
user agent stylesheet
div {
    display: block;
}
.modal .content-wrapper {
    width: 1068px;
    text-align: center;
}
.modal {
    --modal-overlay-background: rgb(255, 255, 255);
    --modal-overlay-padding-top: 76px;
    --modal-overlay-padding-bottom: 76px;
    --modal-overlay-padding-inline: 76px;
    --modal-close-button-offset-top: 16px;
    --modal-close-button-offset-inline-start: 16px;
    --modal-close-button-size: 44px;
    --modal-close-background: rgb(232, 232, 237);
    --modal-close-background-hover: #ececf0;
    --modal-close-background-active: #dfdfe4;
    --modal-close-color: rgba(0, 0, 0, 0.56);
    --modal-close-color-hover: rgba(0, 0, 0, 0.72);
    --modal-close-border-radius: 50%;
    --modal-close-button-position: sticky;
    --modal-close-icon-size: 36px;
    --modal-close-icon-svg-size: 20px;
    background: var(--modal-scrim-background, var(--modal-overlay-background));
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    overflow: auto;
}
body:lang(th) {
    line-height: 1.35296;
    letter-spacing: 0em;
    font-family: "SF Pro TH","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
body, input, textarea, select, button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
}

body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 29, 31);
    font-style: normal;
}
[lang]:lang(th) {
    font-family: "SF Pro TH","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
:root {
    --r-localnav-height: 52px;
    --r-localnav-stacked-height: 66px;
    --r-localnav-gn-height: var(--r-globalnav-height, 44px);
    --r-localnav-viewport-large-min-width: 1024px;
    --r-localnav-viewport-large-query: (min-width: 1024px);
    --r-localnav-viewport-medium-min-width: 768px;
    --r-localnav-viewport-medium-max-width: 1023px;
    --r-localnav-viewport-medium-query: (min-width: 768px);
    --r-localnav-viewport-small-min-width: 320px;
    --r-localnav-viewport-small-max-width: 767px;
    --r-localnav-viewport-small-query: (min-width: 320px);
}
:root {
    --r-globalnav-background-opened: #fbfbfd;
    --r-globalnav-background-opened-dark: #161617;
}

html {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 106.25%;
    quotes: "“" "”";
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    --r-globalnav-height: 44px;
    --r-globalmessage-segment-height: 0px;
    --r-globalnav-segmentbar-height: 0px;
}

.compare-modal .device-item {
    box-sizing: border-box;
    margin-bottom: 14px;
    padding-top: 56px;
    padding-bottom: 46px;
    border-radius: 8px;
    background: #f7f7f7;
    overflow: hidden;
}

:lang(ja), :lang(ko), :lang(th), :lang(zh) {
    font-style: normal;
}
user agent stylesheet
div {
    display: block;
}
.compare-modal .device-list {
    --column-gap: 14px;
    --grid-column: 3;
    --column-width: 317px;
    display: grid;
    margin-top: 45px;
    column-gap: var(--column-gap);
    grid-template-columns: repeat(var(--grid-column), var(--column-width));
}
.compare-modal {
    text-align: center;
}
.modal .content-wrapper {
    width: 1068px;
    text-align: center;
}
.modal {
    --modal-overlay-background: rgb(255, 255, 255);
    --modal-overlay-padding-top: 76px;
    --modal-overlay-padding-bottom: 76px;
    --modal-overlay-padding-inline: 76px;
    --modal-close-button-offset-top: 16px;
    --modal-close-button-offset-inline-start: 16px;
    --modal-close-button-size: 44px;
    --modal-close-background: rgb(232, 232, 237);
    --modal-close-background-hover: #ececf0;
    --modal-close-background-active: #dfdfe4;
    --modal-close-color: rgba(0, 0, 0, 0.56);
    --modal-close-color-hover: rgba(0, 0, 0, 0.72);
    --modal-close-border-radius: 50%;
    --modal-close-button-position: sticky;
    --modal-close-icon-size: 36px;
    --modal-close-icon-svg-size: 20px;
    background: var(--modal-scrim-background, var(--modal-overlay-background));
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    overflow: auto;
}
body:lang(th) {
    line-height: 1.35296;
    letter-spacing: 0em;
    font-family: "SF Pro TH","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
body, input, textarea, select, button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left;
}

body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(29, 29, 31);
    font-style: normal;
}
[lang]:lang(th) {
    font-family: "SF Pro TH","SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
:root {
    --r-localnav-height: 52px;
    --r-localnav-stacked-height: 66px;
    --r-localnav-gn-height: var(--r-globalnav-height, 44px);
    --r-localnav-viewport-large-min-width: 1024px;
    --r-localnav-viewport-large-query: (min-width: 1024px);
    --r-localnav-viewport-medium-min-width: 768px;
    --r-localnav-viewport-medium-max-width: 1023px;
    --r-localnav-viewport-medium-query: (min-width: 768px);
    --r-localnav-viewport-small-min-width: 320px;
    --r-localnav-viewport-small-max-width: 767px;
    --r-localnav-viewport-small-query: (min-width: 320px);
}
:root {
    --r-globalnav-background-opened: #fbfbfd;
    --r-globalnav-background-opened-dark: #161617;
}

html {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 106.25%;
    quotes: "“" "”";
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    --r-globalnav-height: 44px;
    --r-globalmessage-segment-height: 0px;
    --r-globalnav-segmentbar-height: 0px;
}

